:root {
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: var(--light);
    text-decoration: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: var(--cyan);
    margin: 4px 0;
}


/* HERO */
.hero {
    text-align: center;
    padding: 120px 20px;
}

.btn-hero {
    padding: 10px 20px;
    background: var(--cyan);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* SECCIONES */
section {
    padding: 80px 20px;
}


/* PROYECTOS */
.grid-proyectos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    padding: 20px;
    background: #111822;
    border: 1px solid var(--cyan);
    border-radius: 10px;
}


/* RESPONSIVE */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
    }

    .hamburger {
        display: flex;
    }
}